* {
  /* background-color: aqua; */
  box-sizing: border-box;
}
.header {
  text-align: center;
}
.login-div {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: mediumspringgreen;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: mediumseagreen;
}

.total-box {
  padding: 1em;
  width: 95%;
  margin: 1em auto;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid #e4e4e4;
  background-color: lightcyan;
  /* line-height: 1.5em; */
}
